body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Верхняя узкая полоса */
.top-bar {
  background-color: #f2f2f2;
  color: rgb(52, 11, 11);
  padding: 10px 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 10px;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.product {
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.description {
  font-size: 14px;
  margin-top: 10px;
}

.price {
  font-weight: bold;
  margin-top: 5px;
}

@media (max-width: 900px) {
  .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .catalog {
    grid-template-columns: 1fr;
  }
}


.back-home {
  padding: 15px 30px;
  text-align: center;
}

.back-home a {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  background-color: rgb(52, 11, 11);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.back-home a:hover {
  background-color: #333;
}
