body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  color: rgb(52, 11, 11);
  padding: 10px 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
}

.column {
  width: 48%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

p, a {
  font-size: 23px;
  line-height: 1.6;
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.social-icons {
  margin-top: 20px;
}

.single-column {
  flex-direction: column;
  align-items: flex-start;
}

.single-column ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

.single-column li {
  margin-bottom: 10px;
  line-height: 1.6;
}


.back-home {
  padding: 15px 30px;
  text-align: center;
}

.back-home a {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  background-color: rgb(52, 11, 11);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.back-home a:hover {
  background-color: #333;
}
